build
dist
/media
node_modules
.DS_Store
.next
.vercel
/.idea/.idea.Payload_Ecommerce_Paystack_Public.dir/.idea/workspace.xml
/.idea/.idea.Payload_Ecommerce_Paystack_Public.dir/.idea/indexLayout.xml
/.idea/.idea.Payload_Ecommerce_Paystack_Public.dir/.idea/projectSettingsUpdater.xml
/.idea/.idea.Payload_Ecommerce_Paystack_Public.dir/.idea/vcs.xml
